var topologyData = {
    "nodes": [{% for node in nodes %}
        {
            "id": "{{ node.id | escapejs }}",
            "hostname": "{{ node.hostname | escapejs }}",
            "managementIp": "{{ node.managementIp | escapejs }}",
            "vendor": "{{ node.vendor | escapejs }}",
            "platform": "{{ node.platform | escapejs }}",
            "sw": "{{ node.sw | escapejs }}",
            "swVersion": "{{ node.swVersion | escapejs }}",
            "site": "{{ node.site.siteShortName | escapejs }}",
            "role": "{{ node.role | escapejs }}",
            "deviceFamily": "{{ node.deviceFamily | escapejs }}",
            "deviceType": "{{ node.deviceType | escapejs }}",
            "interfaceCount": "{{ node.interfaceCount | escapejs }}",
            "eoxStatus": "{{ node.eoxStatus | escapejs }}",
            "color": {% if node.eoxStatus == "EoL" %}"#C0392B"{% else %}"#2E86C1"{% endif %}
        }{% if not forloop.last %},{% endif %}{% endfor %}
    ],
    "links": [{% for link in links %}
        {
            "id": "{{ link.id | escapejs }}",
            "source": "{{ link.sourceDevice.id | escapejs }}",
            "sourceInterface": "{{ link.sourceInterface | escapejs }}",
            "sourceDevice": "{{ link.sourceDevice.hostname | escapejs }}",
            "target": "{{ link.targetDevice.id | escapejs }}",
            "targetInterface": "{{ link.targetInterface | escapejs }}",
            "targetDevice": "{{ link.targetDevice.hostname | escapejs }}",
            "linkType": "{{ link.linkType | escapejs }}",
            "color": {% if link.linkType == "singlemode" %}"#F4D03F"{% elif link.linkType == "multimode" %}"#E67E22"{% elif link.linkType == "twinax" %}"#17202A"{% else %}"#2E86C1"{% endif %}
        }{% if not forloop.last %},{% endif %}{% endfor %}
    ]
};