<!DOCTYPE html>

<html>
<head>
	<title>DJANGO Test Topology</title>
    {% load static from staticfiles %}
	<link rel="stylesheet" href="{% static "topology/next/css/next.css" %}">
    <link rel="stylesheet" href="{% static "topology/css/custom.css" %}">
    <script type="text/javascript" src="{% static "topology/next/js/next.js" %}"></script>
</head>
<body>
    <div id="topology-container"></div>
    <script type="text/javascript" src="{% static "topology/data.js" %}"></script>
    <script type="text/javascript" src="{% static "topology/nodetooltip.js" %}"></script>
    <script type="text/javascript" src="{% static "topology/topology.js" %}"></script>
    <script type="text/javascript" src="{% static "topology/main.js" %}"></script>
</body>

</html>