[
    {% for device in devices %}
    {
    "hostname": "{{ device.hostname }}",
    "site": "{{ device.site.siteShortName }}",
    "platform": "{{ device.platform }}",
    "deviceFamily": "{{ device.get_deviceFamily_display }}",
    "deviceRole": "{{ device.get_role_display }}",
    "interfaceCount": "{{ device.interfaceCount }}"
    }{% if not forloop.last %},{% endif %}{% endfor %}
]