<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bootstrap Table - Filter control</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
    <link rel='stylesheet'
          href='http://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>


</head>

<body>
<script>
function LinkFormatter(value, row, index) {
	return '<a href="/admin/' + row.device + '/' + index + '">' + value + '<a>';
}
</script>

<div class="container-fluid">
    <h1>Devices MHMP</h1>


    <table id="table"
           data-toggle="table"
           data-search="true"
           data-filter-control="true"
           data-show-export="true"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th data-field="device" data-filter-control="input" data-formatter="LinkFormatter" data-sortable="true">Hostname</th>
            <th data-field="site" data-filter-control="select" data-sortable="true">Site</th>
            <th data-field="platform" data-filter-control="input" data-sortable="true">Platform</th>
            <th data-field="family" data-filter-control="input" data-sortable="true">Device Family</th>
            <th data-field="role" data-filter-control="select" data-sortable="true">Device Role</th>
            <th data-field="intcount" data-filter-control="input" data-sortable="true">Interface Count</th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
        <tr>
            <td>{{ device.hostname }}</td>
            <td>{{ device.site.siteShortName }}</td>
            <td>{{ device.platform }}</td>
            <td>{{ device.get_deviceFamily_display }}</td>
            <td>{{ device.get_role_display }}</td>
            <td>{{ device.interfaceCount }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Hostname
            </th>
            <th>Site
            </th>
            <th>Platform
            </th>
            <th>Device Family
            </th>
            <th>Device Type
            </th>
            <th>Interface Count
            </th>
        </tr>
        </tfoot>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>



</body>

</html>
