<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <h1>NUAAL WEB</h1>
    <p>MHMP</p>

    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">Hostname
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Site
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Platform
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Device Family
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Device Type
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">Interface Count
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td>{{ device.hostname }}</td>
                <td>{{ device.site.siteShortName }}</td>
                <td>{{ device.platform }}</td>
                <td>{{ device.get_deviceFamily_display }}</td>
                <td>{{ device.get_role_display }}</td>
                <td>{{ device.interfaceCount }}</td>
            </tr>{% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Hostname
            </th>
            <th>Site
            </th>
            <th>Platform
            </th>
            <th>Device Family
            </th>
            <th>Device Type
            </th>
            <th>Interface Count
            </th>
        </tr>
        </tfoot>
    </table>
</div>

</body>
</html>